.Menu{
    background: #007FFF;
    height: 18vh;
}
.title_Menu{
    font-family: 'Super Mario World Text Box',sans-serif;
}
h1{
    color: #FFF;
    margin-left: 90vh;
    margin-bottom: 10px;
    padding-top: 10px;
}
a{
    color: #FFF;
    font-family: 'Super Mario World Text Box', sans-serif;
}
a:hover{
    color: black;
}
.links{
    display:flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    left: 70vh;
}
li{
    font-size: 12px;
}

*{
    margin: 0;
}