.T-1,.T-2,.T-3,.T-4{
    display:flex;
    align-items: center;
    height: 25px;
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: auto;
    margin-top: 4px;
    width: 100%;
    padding: 1px;
}

.T-In{
    display: flex;
    width: 80%;
    height: auto;
    font-size: 12px;
    height: 15px;
    text-align: start;
    align-items: center;
    
}
.items{
    width: 20%;
    height: 100%;
    gap: 3px;
}

#btn-del,#btn-edi{
    height: 100%;
    width: 50%;
    padding: 0;
}