body {
  margin: 0;
  padding: 0;
}
.page{
  min-height: 100vh;
  overflow: hidden;
}
.taskApp{
  background-image: url(https://www.chromethemer.com/wallpapers/chromebook-wallpapers/images/960/super-mario-bros-chromebook-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.sobreNosotros{
  background-color: #00ccff;
}